<h1>Listing albums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Rating</th>
      <th>Info</th>
      <th>Cover url</th>
      <th>Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat='album in albums'>
        <td>{{ album.title }} - {{$index}}</td>
        <td>{{ album.duration }}</td>
        <td>{{ album.rating }}</td>
        <td>{{ album.info }}</td>
        <td>{{ album.cover_url }}</td>
        <td>{{ album.id }}</td>
        <td><%= link_to 'Show', "/albums/{{album.id}}" %></td>
        <td><%= link_to 'Edit', "/albums/{{album.id}}/edit" %></td>
        <td><%= link_to 'Destroy', "/albums", { 'ng-click' => "delete($index)" } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>